.minha lista {
       color: whitesmoke;
       font-size: 30;
  } 

  .listas {
     background: center;
  
  }

  .imagens {
    text-align: center;
    background: black;

 }


 >lista {
   color: whitesmoke;
   font-size 30;


#imagem {
  text-align: center;
